.alive {
  display: block;
  background: rgb(1, 163, 1);
  padding: 0.3rem;
  width: 0.5rem;
  height: 0.3rem;
  border-radius: 100%;
}

.dead {
  display: block;
  background: red;
  padding: 0.3rem;
  width: 0.5rem;
  height: 0.3rem;
  border-radius: 100%;
}
.unknown {
  display: block;
  background: yellow;
  padding: 0.3rem;
  width: 0.5rem;
  height: 0.3rem;
  border-radius: 100%;
}
.status {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
