.container {
  margin: 0 auto;
  text-align: center;
  background-color: rgb(36, 40, 46);
  height: auto;
  > h1 {
    color: white;
    font-weight: 400;
  }
  > p {
    color: white;
    font-size: 18px;
    font-weight: 300;

    margin-bottom: 2rem;
  }
}
