.location_container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  justify-content: space-evenly;
  width: 100%;

  margin: 0 auto;
  background-color: rgb(36, 40, 46);
  height: auto;
}

.location_card {
  background-color: #e6e6ea;
  border-radius: 15px;
  height: 280px;
  max-width: 350px;
  width: 100%;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.location_details {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 95%;
  border-radius: 12px;
  margin: 1rem auto;
  padding: 1rem;
  border: 1px #050517 dashed;
  background-color: #72a98f;
  > div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
  }
}
