.App {
  background-color: rgb(36, 40, 46);
  padding-bottom: 2rem;
  min-height: 1080px;
  height: 100%;
}

.container {
  width: 90%;
  margin: 0 auto;

  @media only screen and (max-width: 745px) {
    width: 100%;
  }
}

h1 {
  padding: 2.5rem 0;
  color: white;
  font-size: 5rem;
  text-align: center;
}
span {
  padding: 2.5rem 0;
  color: white;
  font-size: 1rem;
}
.characters {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  justify-content: center;
}

.card {
  width: 100%;
  max-width: 35rem;
  background: rgb(59, 62, 67);
  border-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: 1rem;
  display: flex;

  @media only screen and (max-width: 750px) {
    width: 100%;
    max-width: 20rem;
    flex-direction: column;
    margin: 0 auto;
  }
}

.card img {
  width: 15rem;
  height: 100%;

  @media only screen and (max-width: 745px) {
    width: 20rem;
  }
}

.loading {
  background-color: rgb(36, 40, 46);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading h3 {
  color: white;
  font-size: 7.5rem;
}

.text-container {
  padding: 1rem;
  color: white;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.text-container h3 {
  font-size: 2rem;
}

.status {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.species {
  font-size: 1rem;
}

.title {
  color: grey;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

button {
  padding: 1rem 4rem;
  font-size: 2rem;
  margin: 2rem 0;
  margin-right: 1rem;
}

.origin {
  color: grey;
  font-size: 1rem;
  align-self: baseline;
}

.alive {
  display: block;
  background: green;
  padding: 0.2rem;
  width: 0.5rem;
  height: 0.3rem;
  border-radius: 100%;
}

.dead {
  display: block;
  background: red;
  padding: 0.2rem;
  width: 0.5rem;
  height: 0.3rem;
  border-radius: 100%;
}
.unknown {
  display: block;
  background: yellow;
  padding: 0.2rem;
  width: 0.5rem;
  height: 0.3rem;
  border-radius: 100%;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  > li {
    text-decoration: none;
    list-style: none;

    button {
      height: 3rem;
      font-size: 1rem;
      padding: 0rem 2rem;
    }
  }
}
